# Byte-compiled / optimized / DLL files
spack*
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ROOT files
*.root

# HTCondor
# ignores <lxplus-username>.cc file in the top FCCAnalyses directory
/*.cc

# Editors
*~
.vimlocal

# Distribution / packaging
.Python
build/
install/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Output
outputs/
BatchOutputs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Benchmarking
benchmark*json

# Local configuration
.fccana/*

# Graphviz graphs
*.dot
*.png
examples/FCCee/flavour/BflavTag/plots/speed_vs_momentum.pdf
examples/FCCee/flavour/BflavTag/plots/TOF_test.pdf
examples/FCCee/flavour/BflavTag/plots/track_length_test.pdf
examples/FCCee/flavour/BflavTag/plots/track_length_vs_TOF_padded_zoom_test.pdf
examples/FCCee/flavour/BflavTag/plots/track_length_vs_TOF_test.pdf
examples/FCCee/flavour/BflavTag/plots/track_length_vs_TOF_zoom_test.pdf
examples/FCCee/flavour/BflavTag/plots/EVT_sigB_MCp.pdf
examples/FCCee/flavour/BflavTag/plots/EVT_sigB_MCpx.pdf
examples/FCCee/flavour/BflavTag/plots/EVT_sigB_MCpy.pdf
examples/FCCee/flavour/BflavTag/plots/EVT_sigB_MCpz.pdf
examples/FCCee/flavour/BflavTag/plots/TOF/speed_vs_momentum.pdf
examples/FCCee/flavour/BflavTag/plots/TOF/TOF_test.pdf
examples/FCCee/flavour/BflavTag/plots/TOF/track_length_test.pdf
examples/FCCee/flavour/BflavTag/plots/TOF/track_length_vs_TOF_padded_zoom_test.pdf
examples/FCCee/flavour/BflavTag/plots/TOF/track_length_vs_TOF_test.pdf
examples/FCCee/flavour/BflavTag/plots/TOF/track_length_vs_TOF_zoom_test.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_d2PV.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_nVtx.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_PV_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_PV_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_PV_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_recp.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_SV_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_SV_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_SV_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_unitThrust_x_raw.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_unitThrust_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_unitThrust_y_raw.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_unitThrust_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_unitThrust_z_raw.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_unitThrust_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_vtx_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_nVtx.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_x_vfit__diff_zoom.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_x_vfit_raw_diff_zoom.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_z_raw.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_z_vfit__diff_zoom.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_z_vfit__diff.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_z_vfit_raw_diff_zoom.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_z_vfit_raw_diff.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_z_vfit.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/EVT_unitThrust_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_in_hemisEmin__raw_diff_non0.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_in_hemisEmin__raw_diff.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_in_hemisEmin_vfit__diff_non0.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_in_hemisEmin_vfit__diff.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_in_hemisEmin_vfit_raw_diff_non0.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_in_hemisEmin_vfit_raw_diff.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_p_vfit__diff_non0.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_p_vfit_raw_diff_non0.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_p_vfit_raw_diff.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_SVV0_d2PV.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_SVV0_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_vtx_d2PV_mag.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_vtx_n.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_vtx_x_PV.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_vtx_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_vtx_y_PV.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_vtx_z_PV.pdf
examples/FCCee/flavour/BflavTag/podio_dump.log
examples/FCCee/flavour/BflavTag/plots/vertexing/Combined_vtx_ntracks.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/MC_PV_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/MC_PV_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/MC_PV_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSC_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSC_y_big.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSC_y_zoom.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSC_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSC_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSCfit_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSCfit_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSCfit_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSCtrkfind_x.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSCtrkfind_y.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PV_noBSCtrkfind_z.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_PVSV_ntracks.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_V0_X.pdf
examples/FCCee/flavour/BflavTag/plots/vertexing/Rec_vtx_ntracks.pdf
